<%- include('../partials/header') %>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Cuisine</th>
        <th>Price</th>
        <th>Year Opened</th>
    </tr>
    </thead>
    <tbody>
        <% restaurants.forEach(r => { %>
            <tr>
                <td><%= r.name %></td>
                <td><%= r.cuisine %></td>
                <td><%= r.price %></td>
                <td><%= r.yearOpened %></td>
                <td><a href="/restaurants/<%= r._id %>">DETAILS</a></td>
            </tr>
            <% }) %>
    </tbody>
</table>




<%- include('../partials/footer') %>