<%- include('../partials/header') %>
<section>
    <strong>Name:</strong>
    <%= restaurant.name %><br><br>
    <strong>Cuisine:</strong>
    <%= restaurant.cuisine %><br><br>
    <strong>Price:</strong>
    <%= restaurant.price %><br><br>
    <strong>Year Opened:</strong>
    <%= restaurant.yearOpened %>
</section>
<%- include('../partials/footer') %>